@import "tailwindcss";
@import "@fontsource-variable/roboto-condensed";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

html:lang(kk) h1,
html:lang(kk) h2,
html:lang(kk) h3 {
  font-family:
    "Roboto Condensed Variable",
    Arial,
    sans-serif;
  font-weight: 900;
  letter-spacing: -0.045em;
}

body {
  min-width: 320px;

  background: #071b34;
  color: #ffffff;

  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}
